@import '../../components/Header/Header.module.scss';

.PageWrapper {
  background-color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  
  .Header {
    padding: 0;
  }


  .Footer {
    position: fixed;
  }

  .Row {
    height: 100%;
    margin: 0;
    padding-top: $headerHeight;

    .MainContent {
      padding: 0.5%;
    }

    .SideColumn {
      background-color: #F0F0F0;
      display: flex;
      height: 100vh;
      padding: 0;
    }
  }
}
