* {
    overflow: hidden;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0d6efd;
    color: #ffffff;
    text-align: left;
    border-bottom: 2px solid #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    font-weight: bolder;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    background-color: #0d6efd !important;
    color: #dddddd;
    transition: 0.3s;
    font-weight: bold;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0d6efd;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #0d6efd;
}

.delete-btn:hover {
    transition: 0.3s;
    background-color: rgb(185, 6, 6);
}