.Heading {
  color: #1266F1;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.SelectSingleGeneWrapper {
  clear: both;
}

.CompareSingleGeneWrapper {
  float: right;
  margin-left: 1%;
}

.SingleGeneInstruction {
  margin-top: 4%;
  margin-bottom: 1%;
}

.GeneSelectionInstructionText {
  clear: both;
  float: left;
  margin-bottom: 1%;
}

.CheckboxWrapper {
  clear: both;
  height: 25vh;
  margin-top: 5%;
  margin-bottom: 1%;
  overflow-y: scroll;
}

.OuterSelectWrapper {
  clear: both;
}

.SelectWrapper {
  float: left;
  margin-right: 10vw;
  width: 15vw;
}

.SelectFieldInstructions {
  clear: both;
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

.GraphAndKeyWrapper {
  clear: both;
  float: left;
}

.ChartWrapper {
  clear: both;
  margin-top: 2%;
}

.SmallerChart {
  float: left;
  width: 30%;
  margin-right: 3%;
}

.Chart {
  float: left;
  width: 47%;
  margin-right: 3%;
}

.KeyWrapper {
  clear: both;
  float: left;
}

.ClickKeyInstructionText {
  margin-bottom: 1%;
  margin-top: 1%;
}

.Key {
  color: blue;
  cursor: pointer;
}