$headerHeight: 6vh;

.Header {
  height: $headerHeight;
  position: fixed;
  width: 100%;
  height: 6vh;

  .link {
    align-self: center;
    font-size: 120%;
  }

  .logout {
    padding: 1vh 1.5vw;
    font-size: 70%;
    font-weight: 700;
  }
}

.header-img {
  margin: 1vw 0;
  height: 5vh;
}
