.Heading {
  font-size: 2rem;
  color: darkgreen;
  float: left;
  margin-right: 2%;
}

.SelectWrapper {
  height: auto;
  min-height: 1px;
  width: fit-content;
  float: left;

  .Select {
    height: 4vh;
    padding: 1%;
    width: fit-content;
  }
}

.FetchDataButton {
  margin-left: 2%;
  float: left;
}

.KeyColumnRow {
  clear: both;
}

.Key {
  color: green;
  cursor: pointer;
}