.ComponentWrapper {
    clear: left;
    margin-top: 2%;
}

.Heading {
    font-size: 2rem;
    color: darkgreen;
    float: left;
}

.FilterWrapper {
    float: left;
    clear: both;

    .Filter {
        align-items: center;
        flex-direction: row;
        background-color: lightgray;
        border-radius: 10px;
        display: flex;
        font-size: 1rem;
        margin-bottom: 1%;
        margin-right: 5%;
        max-height: 2vh;
        padding: 0.5%;
        width: fit-content;

        .DeleteFilter {
            width: 2%;
            height: auto;
        }
    }

    .InputWrapper,
    .SelectWrapper {
        height: 3vh;
        float: left;
    }

    .InputWrapper {
        width: 10vw;
        float: left;
    }

    .Select {
        float: left;
        height: 100%;
    }
}

.CheckboxWrapper {
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
    height: 12vh;
    overflow-y: scroll;
    min-width: 100%;
}

.TableWrapper {
    float: left;
    width: 100%;
}