.PageWrapper {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  
  .Footer {
    position: fixed;
  }

  .Row {
    height: 100%;
    margin: 0;

    .MainContent {
      padding: 0.5%;
      height: 100%;
    }

    .SideColumnLeft {
      display: flex;
      height: 0;
      padding: 0;
      @media(min-width: 800px){
        height: 100vh;
      }
    }
    .SideColumnRight {
      display: flex;
      height: 0vh;
      padding: 0;
      @media(min-width: 800px){
        height: 100vh;
      }
    }
  }
}

.Newsfeed {
  margin-top: 10vw;
}