.registration-card {
  width: 32rem;
}

.login-card {
  width: 40%;
  margin-top: 20%;
}

.register-link,
.reset-password-link {
  text-decoration: none;
  color: #1266f1 !important;
  transition: 0.4s;
}

.register-link:hover,
.reset-password-link:hover {
  text-decoration: none;
  transition: 0.5s;
  color: #0050d1 !important;
}

.error-message {
  border: 1px solid;
  margin: 1%;
  padding: 2% 1% 2% 3%;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 40vw;
  color: #d8000c;
  background-color: #ffbaba;
}

.card-header {
  color: #1266F1;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
