h5 {
    font-size: 14px;
    font-weight: bold;
}

.add-style {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.remove-style {
    all: unset;
    font-size: 14px;
    font-weight: bold;
}

.read-more-link {
    font-size: 14px;
    text-decoration: underline;
}

.carousel {
    width: 250px;
    float: right;
}