h5 {
  font-size: 14px;
  font-weight: bold;
}

.add-style {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.remove-style {
  all: unset;
  font-size: 14px;
  font-weight: bold;
}

.read-more-link {
  font-size: 14px;
  text-decoration: underline;
}

.carousel {
  width: 250px;
  float: right;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    margin-top: 270%;
    color: transparent;
}

.card-img-top {
    width: 250px;
    height: 200px !important;
}

h5#newsFeedModalLabel {
    font-size: 20px;
    line-height: 120%;
}
/*.custom-carousel {
    box-shadow: 0 1em 5em black;
    height: 370px !important
}*/


